:root {
  --header-background: #1976D2;
  --background: #BBDEFB;
  --buttons-details: #4CAF50;
  --text-button: #ffff;
  --footer-color: #757575;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  background-image: url('assets/images/pexels-donald-tong-66134.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 34.75rem;
  display: flex;
  justify-content: center;
  margin: 0 0 13rem;
  position: relative;
  top: 0;
}

header h1 {
  height: min-content;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  padding-right: 10rem;
  padding-left: 10rem;
  
}

.card-form {
  background: #fff;
  position: absolute;
  top: 9rem;
  width: min(100vw, 900px);
  height: min-content;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgb(92, 92, 92);
  padding: 0 ;
}

.title-form {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 3rem 1.5rem 0;
}

form {
  padding: 0;
}

.input-group {
  padding: 0;
  margin: 3rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: min(40vw, 500px);
  height: 50px;
  border-radius: 0.5rem;

  font-size: 1.2rem;
  padding: 1rem 0.5rem;
}

button {
  width: min(40vw, 500px);
  margin-top: 1rem;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.5rem;
  background: var(--buttons-details);
  color: var(--text-button);

  box-shadow: 0 1px 3px black;
}

.day-online-free {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 3rem 0;
}

.image-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  gap: 20px;
}

.image-text p {
  width: 120px;
  text-align: start;
  font-size: 1rem;
  font-weight: 800;
}

.background-icon {
  display: flex;
  justify-content: center;
  background: var(--background);
  width: 60px;
  height: 60px;
  border-radius: 2rem;
}

.icon-card {
  width: 40px;
  border-radius: 2rem;
}

.learn {
  width: min(110vw, 1050px);
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}

.cards {
  display: flex;
  gap: 2rem;
  margin: 2rem 0 6rem;
}

.card {
  background: var(--background);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.content-card {
  margin: 2rem;
}

.content-card .icon-card {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;

}

.content-card p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* about */
#about {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .content-author {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

picture {
  width: max-content;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
}
.author-image {
  width: 30rem;
}

.about-author {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-author h2 {
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  margin: 0 0 1rem;
}

.about-author p {
  font-family: 'Poppins',sans-serif;
  font-size: 1.2rem;
}

footer {
  width: 100%;
  height: 8rem;
  background: var(--footer-color);
  
  display: flex;
  justify-content: center;
}

.text-footer {
  margin: 1rem;
  text-align: center;
}

.text-footer p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--text-button);
}

.text-footer a {
  text-decoration: none;
  color: var(--text-button);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* media queries 1024 < */
@media (max-width: 1024px) {
  header h1 {
    font-size: 2.4rem;
  }
  .card-form {
    width: min(80vw, 800px);
    padding: 0 2rem;
    top: 7.2rem;
  }
  .title-form {
    font-size: 2.4rem;
    padding: 1.5rem 0 0;
  }

  .learn {
    width: 100%;
  }
  .container.grid {
    padding: 0 5rem;
  }
}

/* media 768 < */
@media (max-width: 768px) {
  header {
    height: 23.167rem;
    margin-bottom: 8.667rem;
  }
  header h1 {
    margin-top: 1rem;
    font-size: 1.92rem;
  }
  .card-form {
    width: min(80vw, 800px);
    padding: 0 1.25rem;
    top: 4.5rem;
  }
  .title-form {
    font-size: 1.92rem;
    padding: 1.5rem 0 0;
  }
  .input-group {
    margin-top: 1.5rem;
  }
  input, button {
    width: 70%;
    font-size: 1rem;
  }
  .day-online-free {
    margin: 1.5rem 0;
    gap: 10px;
  }
  .day-online-free p {
    font-size: 1rem;
  }
  .image-text {
    gap: 10px;
  }
  .icon-card{
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 2rem;
  }
  .background-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 2rem;
  }

  .container.grid {
    padding-left: 1.975rem;
    padding-right: 1.975rem;
  }
  .learn {
    margin-top: 2rem;
  }
  h2 {
    font-size: 1.92rem;
  }
  .learn .icon-card {
    width: 1.875rem;
    height: 1.875rem;
  }
  .learn .cards {
    gap: 1rem;
    margin: 1rem 0 3rem;
  }
  .learn .content-card {
    margin: 1rem;
  }

  #about {
    padding: 0;
  }
  .content-author {
    height: auto;
  }
  .author-image {
    width: 20rem;
  }
  .about-author h2 {
    font-size: 1.92rem;
  }
  .about-author p {
    font-size: 1rem;
  }

  footer {
    height: auto;
  }
  footer .text-footer {
    margin: 1rem 0 0;
  }
  footer .text-footer p,
  footer .text-footer a {
    font-size: 0.667rem;
  }
}

/* media 650 < */
@media (max-width: 650px) {
  header h1 {
    font-size: 1.92rem;
  }
  .title-form {
    font-size: 1.28rem;
    padding: 1.5rem 1.5rem 0;
  }
  input, button {
    width: 60%;
    padding: 0.5rem 0.25rem;
    height: 40px;
  }
  .day-online-free {
    gap: 20px;
  }
  .day-online-free .image-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
  }
  .day-online-free p {
    text-align: center;
    font-size: 1rem;
  }

  .learn {
    margin-top: 0;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  h2{
    font-size: 1.92rem;
  }
  .card h3 {
    font-size: 1.28rem;
  }

  .content-author {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* media 425 < */
@media (max-width:425px) {
  header {
    height: 23.167rem;
  }
  .card-form {
    width: min(85vw, 900px);
    margin-bottom: 1.5REM;
  }
  .title-form {
    padding: 1.5rem 0 0;
    font-size: 1rem;
  }
  input, button {
    width: 95%;
    height: 40px;
  }
  .day-online-free {
    display: flex;
    flex-direction: column;
    margin: 1.25rem 0;
  }
  .day-online-free .image-text {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .image-text p {
    font-size: 1rem;
    text-align: left;
  }

  .learn h2 {
    margin-top: 1.5rem;
  }
  .learn .cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .content-author {
    display: flex;
    flex-direction: column-reverse;
  }
  .content-author p {
    margin-bottom: 1.5rem;
  }
}

/* media 375 < */
@media (max-width: 375px) {
  header {
    height: 23.167rem;
  }
  .container.grid {
    padding-left: 1.370rem;
    padding-right: 1.370rem;
  }
  
  .learn {
    margin-top: 2rem;
  }

  .author-image{
    width: 15rem;
  }
}